[user]
    name = David Wagner
    email = wagdav@gmail.com

[url "ssh://lac/~dwagner/projects/"]
    insteadOf = projects:

[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    wdiff = diff --color-words
[core]
    excludesfile = ~/.gitignore_global
	pager = less -r
