[user]
    name = David Wagner
    email = wagdav@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    diff-tree = auto
[alias]
    wdiff = diff --color-words
    lg = log --decorate
    review = log --decorate -p -C
    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[core]
    excludesfile = ~/.gitignore_global
	pager = less -r
[color "diff"]
	whitespace = red reverse
[push]
	default = simple
[rerere]
	enabled = 1
