[user]
    name = David Wagner
    email = wagdav@gmail.com

[url "ssh://lac/~dwagner/projects/"]
    insteadOf = projects:

[color]
    diff = auto
    status = auto
    branch = auto
    diff-tree = auto
[alias]
    wdiff = diff --color-words
    lg = log --decorate
    review = log dev.. --decorate
[core]
    excludesfile = ~/.gitignore_global
	pager = less -r
[color "diff"]
	whitespace = red reverse
[push]
	default = simple
[rerere]
	enabled = 1
